.cards {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    padding: 150px 20px; 
    background-color: #F5F5F5;
}

.card {
    flex: 1 0 300px;
    position: relative;
    overflow: hidden; 
    margin: 0 10px; 
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: auto; 
    transition: transform 0.3s ease; 
}

.card:hover img {
    transform: scale(1.1); 
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

.card:hover .overlay {
    opacity: 1;
}

.overlay h4 {
    margin: 0; 
    color: #1A413D; 
    font-size: 25px; 
    font-weight: 500; 
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.bouton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1A413D;
    color: #FFF;
    text-decoration: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}
